.swiper {
	position: absolute;
	width: 104%;
	left: -2%;
	padding: 5.5em 0;
}

.item {
	border: 2px solid white;
	border-radius: 1em; 
	min-height: 18em;
	width: 12em !important;
	background-color: black;
	padding: .25em;
	overflow: hidden;
}

.content {
	width: 100em;
	background-image: linear-gradient(darkgray 5%, black 20%);
	background-clip: border-box;
	background-size: cover;
	height: 18em;
}